/* Main Container */
.feature-container {
   display: flex;
   justify-content: center;
   padding: 100px;
  
 
  }
  
  /* Feature Content Wrapper */
  .feature-content {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background: #181a20;
    border-radius: 30px;
    gap: 20px;
    max-width: 1200px;
  }
  
  /* Left Section - Text Content */
  .feature-text {
    color: white;
    padding: 50px 0px;
    max-width: 500px;
  
  }
  
  .feature-text h1 {
    margin-bottom: 10px;
    font-size: 30px;
  }
  
  .feature-description {
    margin-bottom: 30px;
    font-size: 22px;
    color: #848e9c;
    margin-top: 48px;
  }
  
  /* Feature Points */
  .feature-point {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 0.5px solid gray;
    border-radius: 30px;
    padding: 7px 18px;
    font-size: 15px;
    color: white;
    font-weight: 100;
    margin-bottom: 10px;
  }
  
  .feature-point img {
    width: 20px;
  }
  
  /* Right Section - Image */
  .feature-image img {
    width: 450px;
    border-radius: 20px;
  }
  
  