
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inria Serif", serif;
}


#root {
  background: linear-gradient(to right, #222325, #222222, #2d2d2b, #30302d, #30302b);
  
}